---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="Tip Calculator | Splitter"
      content={Astro.generator}
    />
    <title>Tip Calculator</title>
  </head>
  <body>
    <main>
      <section class="tip-calculator">
        <div class="logo">
          <img
            src="/images/logo.svg"
            alt="Splitter logo"
          />
        </div>

        <div class="card">
          <div class="input">
            <div class="input-group">
              <label for="bill">Bill</label>
              <input
                id="bill"
                name="bill"
                placeholder="0"
                type="number"
              />
              <img
                src="/images/icon-dollar.svg"
                alt="dollar symbol"
                class="input-icon"
              />
            </div>
            <div class="input-group">
              <label for="customTip">Select Tip %</label>
              <div class="tip-group">
                <button class="btn tip-btn">5%</button>
                <button class="btn tip-btn">10%</button>
                <button class="btn tip-btn">15%</button>
                <button class="btn tip-btn">25%</button>
                <button class="btn tip-btn">50%</button>
                <input
                  type="number"
                  id="customTip"
                  name="customTip"
                  placeholder="Custom"
                />
              </div>
            </div>
            <div class="input-group">
              <label for="numPeople">Number of People</label>
              <input
                id="numPeople"
                name="numPeople"
                type="number"
                placeholder="0"
              />
              <img
                src="/images/icon-person.svg"
                alt="dollar symbol"
                class="input-icon"
              />
            </div>
          </div>
          <div class="results">
            <div class="results__details">
              <div class="row">
                <div class="col">
                  <p>Tip Amount</p>
                  <p class="per-person">/ person</p>
                </div>
                <p
                  class="amount"
                  id="tipPerPerson"
                >
                  $4.27
                </p>
              </div>
              <div class="row">
                <div class="col">
                  <p>Total</p>
                  <p class="per-person">/ person</p>
                </div>
                <p
                  class="amount"
                  id="totalPerPerson"
                >
                  $32.79
                </p>
              </div>
            </div>
            <button class="btn reset-btn">Reset</button>
          </div>
        </div>
      </section>
    </main>

    <script>
      import "../scripts/main.js";
    </script>
  </body>
</html>

<style>
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .logo {
    margin: 3rem 0;
  }

  .card {
    background: var(--color-neutral-0);
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    max-width: 608px;
    padding: clamp(2rem, 1.0458rem + 4.0712vw, 3rem)
      clamp(1.5rem, -1.8397rem + 14.2494vw, 5rem);
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .tip-group {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .btn {
    background: var(--color-primary-dark);
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-neutral-0);
    cursor: pointer;
    padding: 0.5rem 1rem;

    &.active,
    &:hover {
      background: var(--color-primary);
    }
  }

  .reset-btn {
    background: var(--color-primary);
    color: var(--color-primary-dark);
    text-transform: uppercase;
    &:hover {
      background: var(--color-primary-light);
    }
  }

  label {
    color: var(--color-neutral-500);
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  input {
    background: var(--color-neutral-50);
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-primary-dark);
    padding: 0.5rem 1rem;
    text-align: end;
    width: 100%;

    &::placeholder {
      color: var(--color-primary-dark);
      opacity: 0.35;
    }

    &#customTip {
      text-align: center;
      &::placeholder {
        color: var(--color-neutral-550);
        opacity: 1;
      }
    }
  }

  .input-group {
    position: relative;
  }

  .input-icon {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    transform: translateY(-50%);
  }

  .results {
    background: var(--color-primary-dark);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
  }

  .results p {
    color: var(--color-neutral-0);
    font-size: 1rem;

    &.per-person {
      color: var(--color-neutral-400);
      font-size: 0.75rem;
    }

    &.amount {
      color: var(--color-primary);
      font-size: 2rem;
    }
  }

  .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .results__details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (min-width: 48rem) {
    .card {
      border-radius: 1.5rem;
      flex: 0;
    }
    .tip-group {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 80rem) {
    .card {
      display: grid;
      grid-template-columns: 5fr 4fr;
      gap: 3rem;
      max-width: 950px;
      padding: 2rem;
    }
  }
</style>
