---
import ThemeIcon from "./ThemeIcon.astro";
import navData from "../data/navData.json";
import Logo from "./Logo.astro";
---

<header>
  <div class="container">
    <nav
      class="navbar"
      aria-label="main navigation"
    >
      <Logo />
      <div class="nav-list-wrapper">
        <ul
          id="main-menu"
          class="nav-list"
        >
          {
            navData.map((item) => (
              <li
                class:list={[
                  "nav-list__item",
                  { "nav-links__dropdown": item.children?.length > 0 },
                ]}
              >
                <a href={item.url}>{item.key}</a>
              </li>
            ))
          }
        </ul>
        <a
          href="/contact/"
          class="nav-cta btn btn--solid"
        >
          Get Quote
        </a>
      </div>
      <!-- <ThemeIcon /> -->
      <button
        type="button"
        aria-expanded="false"
        aria-controls="main-menu"
        class="nav-toggle"
        aria-label="Open navigation menu"
      >
        <span
          aria-hidden="true"
          class="line1"
        >
        </span>
        <span
          aria-hidden="true"
          class="line2"
        >
        </span>
        <span
          aria-hidden="true"
          class="line3"
        >
        </span>
      </button>
    </nav>
  </div>
</header>

<style>
  header {
    padding: 2rem 0;
    position: relative;
    .container {
      position: static;
    }
  }

  .navbar {
    align-items: center;
    display: flex;
    gap: 2rem;

    .logo {
      margin-right: auto;
    }
  }

  .nav-toggle {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    /* position: relative; */
    z-index: 1001;

    .line1,
    .line2,
    .line3 {
      --width: 1.25rem;
      width: var(--width);
      height: 2px;
      background-color: var(--color-header);
    }

    .line1,
    .line3 {
      transform: rotateZ(0);
      transition:
        transform 0.3s ease-in,
        opacity 0.3s;
    }
  }

  .nav-list {
    list-style-type: none;
    padding: 0;
  }

  .nav-list__item a {
    color: var(--color-header);
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-body-text);
    }
  }

  @media (max-width: 63.9375rem) {
    body {
      overflow-x: hidden;
    }

    header {
      box-sizing: border-box;
      padding: 0;
      z-index: 10000;
      &::before {
        /* black blurred overlay */
        content: "";
        backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.6);
        display: block;
        height: 100vh;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 100%;
        transition:
          width 0.5s,
          opacity 0.3s;
        width: 0%;
        z-index: -11;
      }
    }
    .container {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      padding: 2rem;
      width: 100%;
    }
    .nav-list-wrapper {
      align-items: center;
      background-color: #fff;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      min-height: 100vh;
      margin-left: 0 auto;
      padding: 2rem 4rem;
      position: absolute;
      right: 0;
      top: 100%;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      /* TODO: fix nav not sliding out properly */
      visibility: hidden;
      width: fit-content;
      z-index: -1;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .nav-list__item a {
      font-size: 1.6rem;
    }

    body.navbar:has(.nav-toggle[aria-expanded="true"]) {
      overflow: hidden;
    }

    header:has(.nav-toggle[aria-expanded="true"]) {
      &::before {
        opacity: 1;
        width: 100%;
      }
    }

    .navbar:has(.nav-toggle[aria-expanded="true"]) {
      .nav-list-wrapper {
        transform: translateX(0);
        visibility: visible;
      }
      .nav-toggle {
        .line1 {
          transform: translateY(calc(var(--width) * 0.3)) rotateZ(45deg);
        }

        .line2 {
          opacity: 0;
        }

        .line3 {
          transform: translateY(calc(var(--width) * -0.3)) rotateZ(-45deg);
        }
      }
    }
  }

  @media (min-width: 64rem) {
    header {
      box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 0.1);
      padding: 2rem 0;
    }

    .nav-list {
      background: none;
      display: flex;
      flex-direction: row;
      gap: 3em;
      position: static;
      width: auto;
    }

    .nav-toggle {
      display: none;
    }

    .nav-list-wrapper {
      align-items: center;
      display: flex;
      gap: 6em;
    }
  }
</style>
