<div class="logo">
  <a href="/">
    <p>
      <span class="logo-top">PEARL RIVER</span>
      <br />
      <span class="logo-bottom">WEB DESIGN</span>
    </p>
    <span class="sr-only">Home</span>
  </a>
</div>

<style>
  .logo {
    font-family: "Inter", sans-serif;
    line-height: 1;
    text-align: center;
    p {
      font-size: var(--font-size-md);
    }
    a {
      text-decoration: none;
    }
    .logo-top {
      font-weight: 800;
      letter-spacing: 1px;
    }
    .logo-bottom {
      letter-spacing: 1.6px;
      font-size: calc(0.95 * var(--font-size-md));
    }
  }
</style>
